body{
    background: black;
}

p{
    margin-top: 15px;
    margin-bottom:2em;
}
a{
    color:#f1f1f1;
    text-decoration:none;
    transition: 0.2s;
    padding:5px;   
}

.button{
    color:black;
    background-color: white;
    padding:10px;
    font-family: 'Abel', sans-serif;
    font-weight: 70;
    font-size: 1.25em;
    border-radius: 10px;
}
.button:hover{
    color:black;
    background-color: rgba(255, 255, 255, 0.678);
}
.startup{
    padding:2px;
    padding-left: 4px;
    background-color:#0099ff;
    font-weight: 400;
}
.startup:hover{
    color:white;
    background-color:#0099ffa2;
    font-weight:bolder;


}
.parar{
    font-weight: 100;
    text-align: center;
    max-width: 90%;
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 1.25rem;
    color:white;
    font-family:'Inter',sans-serif;

}
.contact-heading{
    text-align: center;
    font-size: 1.5em;
    padding-left:35px;

}
.contact-links{
    size: 50px;
    text-align: center;
    padding:5px;
    
}
.contact-links:hover{
    background-color: rgba(0, 0, 0, 0);
    size: 50px;
    padding:5px;
}
footer{
    color:white;
    position: absolute;
    right:0;
    bottom:0;
    padding:15px;
    font-stretch: expanded;
    font-family: 'Abel', sans-serif;;
}
ul.navbar{
    list-style-type: none;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom:10px;
    float: right;
    color:white;
    font-family:'Inter',sans-serif;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration:none;
    color:white;
    padding:7px;
    color:rgba(255, 255, 255, 0.63);
    transition-duration:0.2s ;

}
ul li a:active{
    border-bottom: white !important;
}
ul li a:hover{
    background-color: rgba(255, 255, 255, 0.336);
    color:black;
    padding: 7px;
}
.para{
    font-weight: 70;
    line-height: 1.5;
    max-height: 40em;
    position:absolute;
    padding:1em;
    top:20%;
    left:10%;
    max-width: 40em;
    font-size: 1rem;
    text-align: left;
    color:white;
    font-family:'Inter',sans-serif;
}

