body{
    background: black;
}

p{
    margin-top: 15px;
    margin-bottom:2em;
}
a{
    color:#f1f1f1;
    text-decoration:none;
    transition: 0.2s;   
}

.button{
    color:black;
    background-color: white;
    padding:10px;
    font-family: 'Abel', sans-serif;
    font-weight: 70;
    font-size: 1.25em;
    border-radius: 10px;
}
.button:hover{
    color:black;
    background-color: rgba(255, 255, 255, 0.678);
}
a:hover{
    color:white;
    background-color:#0099ff;
    font-weight:bolder;


}
.parar{
    font-weight: 100;
    position:absolute;
    top:30%;
    left:30%;
    right:10%;
    align-items: center;
    max-width: 30em;
    font-size: 1.25rem;
    text-align: left;
    color:white;
    font-family:'Inter',sans-serif;

}
.contact-heading{
    text-align: center;
    font-size: 1.5em;

}
.contact-links{
    size: 50px;
    text-align: center;
    padding:20px;
    position: relative;
    left:3em;
    
}
.contact-links:hover{
    background-color: rgba(0,0,0, 0.336);
    size: 50px;
    padding:20px;
    position: relative;
    left:3em;
}
footer{
    color:white;
    position: absolute;
    right:0;
    bottom:0;
    padding:2em;
    font-stretch: expanded;
    font-family: 'Abel', sans-serif;;
}
ul.navbar{
    list-style-type: none;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom:10px;
    padding-right: 1em;
    float:right;
    color:white;
    font-family:'Inter',sans-serif;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration:none;
    color:white;
    padding:7px;
    color:rgba(255, 255, 255, 0.63);
    transition-duration:0.2s ;

}
ul li a:active{
    border-bottom: white !important;
}
ul li a:hover{
    background-color: rgba(255, 255, 255, 0.336);
    color:black;
    padding: 3px;
}
.para{
    font-weight: 70;
    position:absolute;
    top:25%;
    left:15%;
    max-width: 40em;
    font-size: 1.25rem;
    text-align: left;
    color:white;
    font-family:'Inter',sans-serif;
    
    
}
